SHELL=/bin/sh
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin

# Example of job definition:
# .---------------- minute (0 - 59)
# |  .------------- hour (0 - 23)
# |  |  .---------- day of month (1 - 31)
# |  |  |  .------- month (1 - 12) OR jan,feb,mar,apr ...
# |  |  |  |  .---- day of week (0 - 6) (Sunday=0 or 7) OR sun,mon,tue,wed,thu,fri,sat
# |  |  |  |  |
# *  *  *  *  * command to be executed
25  *  *  *  *	/etc/cron.hourly/tattle-tale-status.sh > /proc/1/fd/1 2>/proc/1/fd/2
30  6  *  *  *	/etc/cron.daily/delete_old_indices.sh > /proc/1/fd/1 2>/proc/1/fd/2
35  6  *  *  *	/etc/cron.daily/tattle-tale-shadow.sh > /proc/1/fd/1 2>/proc/1/fd/2
# 45  6  *  *  7	/etc/cron.weekly/blah.sh > /proc/1/fd/1 2>/proc/1/fd/2
# 50  6  1  *  )	/etc/cron.monthly/blah.sh > /proc/1/fd/1 2>/proc/1/fd/2
